img:hover {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0%, 100% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10%, 50%, 90% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20%, 40%, 60%, 80% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30%, 70% {
    transform: translate(3px, 2px) rotate(0deg);
  }
}

/* body {
    background: url('../../../public/images/hero1.png');
  } */

.table-row:hover {
  background-color: rgba(122, 144, 255, 0.315);
}

.table-row td:hover {
  background-color: rgba(122, 157, 255, 0.663);
}